<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/views/style.css">
    <title>Contact</title>
</head>
<body>
    
    <form id="contact">
        <legend> Contact Us! </legend>
            <input placeholder="Firstname"> <br> 
            <input placeholder="Lastname">  <br>
            <input placeholder="Email" size="44"> <br>
            <textarea rows="5" cols="46"> Leave us a Message! </textarea>

    </form>

</body>
</html>